{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="maintenance-page-layout-container">

  <header role="banner">
    
    {% if logo %}
      <div class="maintenance-page-logo">
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ base_path }}themes/custom/xulispa_theme/images/maintenance-logo.png" alt="{{ 'Home'|t }}"/>
        </a>
      </div>
    {% endif %}

    {% if site_name or site_slogan %}
      <div class="maintenance-page-name-and-slogan">
        {% if site_name %}
         <h1 class="maintenance-page-site-name">
           <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
         </h1>
        {% endif %}

        {% if site_slogan %}
          <div class="maintenance-page-site-slogan">{{ site_slogan }}</div>
        {% endif %}
      </div>
    {% endif %}

  </header>

  <main role="main">
    {% if title %}
      <h3 class="maintenance-page-title">{{ title }}</h3>
    {% endif %}
    
    <div class="maintenance-page-content">
      {{ page.content }}
    </div>
  </main>

  {% if page.footer %}
    <div class="maintenance-page-footer">
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    </div>
  {% endif %}

</div>
